---
---
body {
    background-image: url("airline.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    margin: 0;
}

p {
    color: white;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}