---
---
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #193a55;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    font-family: 'Lato', sans-serif;
}

.nav-hyperlinks {
    display: flex;
    align-items: center;
    color: white;
}

.nav-hyperlinks li {
    display: inline-flex;
    margin: 5px
}

.nav-images {
    margin-right: 5px
}

a {
    text-decoration: none;
}

// link and visited link
a:link,
a:visited {
    color: white;
}

// mouseover link
a:hover {
    color: #018d80;
    font-weight: bolder;
}

// selected link
a:active {
    color: #00ffe7;
    font-weight: bolder;
}
