<head>
     <link rel="stylesheet" href="/css/nav.css" type="text/css" />
</head>

<nav>
    <div class="nav-logo">
        <img src="images/logo.png">
    </div>
    <div class="nav-hyperlinks">
        <ul>
            <il>
                <div class="nav-images">
                    <img src="images/home-icon.png">
                </div>
                <a href="index.html">Home</a>
            </il>
            <il>
                <div class="nav-images">
                    <img src="images/deal-icon.png">
                </div>
                <a href="traveldeals.html">Travel Deals</a>
            </il>
            <il>
                <div class="nav-images">
                    <img src="images/schedule-icon.png">
                </div>
                <a href="flightschedule.html">Flight Schedule</a>
            </il>
            <il>
                <div class="nav-images">
                    <img src="images/login-icon.png">
                </div>
                <a href="login.html">Register/Login</a>
            </il>
        </ul>
    </div>
</nav>
